.floating-image-button {
    position: fixed;
    
    right: 40px;
    z-index: 1000;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .floating-image-button img {
    width: 170px; /* Adjust as needed */
    height: auto;
  }
  