@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.floating-image-button {
    position: fixed;
    
    right: 40px;
    z-index: 1000;
    border: none;
    background-color: transparent;
    cursor: pointer;
    animation: float 3s ease-in-out infinite;
  }

.floating-image-button img {
  width: 10vw; /* Adjust as needed */
  height: auto;
}
  
  